body {
  background: rgb(52, 44, 196);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  color: white;
}

.todo-input {
  width: 450px;
  height: 50px;
  margin: 5px;
  padding-top: 0px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 18px;
}

.todo-update-input {
  background: none;
  margin: 8px;
  padding: 10px 0px;
  font-size: 18px;
  border: none;
  color: bisque;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  border: solid 1px;
  border-radius: 10px;
  font-size: 18px;
  background: none;
  margin: 10px;
}

.std-btn {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

button:hover {
  opacity: .9;
}

.completed {
  text-decoration: line-through;
}
